body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /*background: #dedede;*/
   background: #f3f3f3;
}

@font-face {
   font-family: 'UbuntuMono';
   /* Гарнитура шрифта */
   src: local('UbuntuMono'), url('../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
   /* Для остальных браузеров */
}

.wrapper {
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
   width: 400px;
   margin: 0 auto;
   background: #fff;
}

.wrapper input {
   padding: 9px 12px;
   border-radius: 2px;
   border: 1px solid #c7c7c7;
   margin: 3px 0;
   font-family: 'Segoe UI';
   font-size: 15px;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   cursor: pointer;
   color: #fff;
   padding: 10px;
   margin: 10px 0;
   border: none;
   outline: none;
   border-radius: 2px;
   text-transform: uppercase;
   font-family: 'Segoe UI';
   font-size: 16px;
}

.btn-main {
   /*background: #7ab4de;*/
   background: linear-gradient(to bottom, #7ab4de,#38a2ec);
}
.btn-main:hover {
   background: linear-gradient(to bottom, #6ca1c7,#2f8ed0);
}

.btn-close {
   /*background: #de7a7a;*/
   background: linear-gradient(to bottom, #e09494,#e46565);
}
.btn-close:hover {
   background: linear-gradient(to bottom, #d08b8b,#d05c5c);
}

.server-form {
   padding: 15px;
   display: flex;
   flex-direction: column;
}

/*.server-form input {
   padding: 8px;
   border-radius: 2px;
   border: 1px solid #c7c7c7;
   margin: 3px 0;
   font-family: 'Segoe UI';
   font-size: 15px;
}*/
.server-form select {
   padding: 8px;
   border-radius: 2px;
   border: 1px solid #c7c7c7;
   margin: 3px 0;
   font-family: 'Segoe UI';
   font-size: 15px;
}

.server-form option {
   padding: 10px;
   border-radius: 2px;
   border: 1px solid #c7c7c7;
   margin: 3px 0;
}

#close-client {
   background: transparent;
   font-size: 12px;
   border-radius: 8px;
   color: grey;
   border: 1px solid #e0e0e0;
   margin: 0;
   padding: 5px;
   text-transform: uppercase;
}

#server-console {
   height: 350px;
   border-radius: 2px;
   /*border: 1px solid #e6e6e6;*/
   overflow: hidden;
   overflow-y: scroll;
   /*font-family: monospace;*/
   font-family: 'UbuntuMono', monospace;
   /*border: 5px solid #8d8d94;*/
   border: 1px solid #c3c3c3;
   box-shadow: 0px 2px 3px 0px rgba(50,50,50,0.11);
   padding: 15px;
}

.console-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 23px;
   /*background: linear-gradient(to bottom, #afafaf, #8d8d94);*/
   border-radius: 10px 10px 0 0;
   padding-left: 15px;
   color: #000;
   background: #d8d8d8;
}

.client-form {
   padding: 15px;
   display: flex;
   flex-direction: column;
}

/*.client-form input {
   padding: 10px;
   border-radius: 2px;
   border: 1px solid #c7c7c7;
   margin: 3px 0;
}*/

#user-chat {
   height: 390px;
   border-radius: 2px;
   border: 1px solid #e6e6e6;
   overflow: hidden;
   overflow-y: scroll;
}

#user-panel {
   display: flex;
   flex-direction: column;
}

#user-controls {
   display: flex;
   align-items: center;
   margin-top: 10px;
}

#user-controls input {
   flex-grow: 1;
   border: none;
   outline: none;
   border-radius: 20px;
   /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);*/
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.21), 0 -2px 2px -2px rgba(0, 0, 0, 0.23), 0 1px 5px 0 rgba(0, 0, 0, 0.01);
   padding: 10px 20px;
}

#user-controls button {
   margin: 0;
   background: #3ec5b7;
   color: white;
   font-size: 18px;
   /* border: 1px solid #505050; */
   border-radius: 200px;
   outline: none;
   margin-left: 5px;
   padding: 10px;
   border:none;
   display: flex;
}

.baloon-wrapper {
   display: flex;
   flex-direction: column;
   margin: 4px 0;
   font-family: Segoe UI;
   font-size: 13px;
}

.baloon {
   /*max-width: 80%;*/
   overflow: hidden;
}

.baloon-text {
   display: inline-block;
   background: #00a1e1;
   color: #fff;
   padding: 10px 20px;
   border-radius: 10px 10px 10px 0;
   font-size: 15px;
   word-break: break-all;
}

.connect-info {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}

.user-message {
   max-width: 80%;
}

/*styles for self message*/
.self-message {
   display: flex;
   justify-content: flex-end;
   max-width: none;
}

.self-message .baloon {
   max-width: none;
   display: flex;
   justify-content: flex-end;
}

.self-message .baloon-user {
   padding-right: 10px;
   text-align: right;
}

.self-message .baloon-text {
   background: #a763ca;
   max-width: 80%;
   border-radius: 10px 10px 0px 10px;
}

.self-message .baloon-wrapper {
   display: flex;
   flex-direction: column;
}